<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>794275713239-eaft4q7gq44ftah10ajh67548d6fkaib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794275713239-eaft4q7gq44ftah10ajh67548d6fkaib</string>
	<key>API_KEY</key>
	<string>AIzaSyAMi8wUMFsZE2POw1ooeK5AAHnvd551tBM</string>
	<key>GCM_SENDER_ID</key>
	<string>794275713239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.SMarket</string>
	<key>PROJECT_ID</key>
	<string>nightmarket-1552321619125</string>
	<key>STORAGE_BUCKET</key>
	<string>nightmarket-1552321619125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:794275713239:ios:df155a0ab1ed38bd</string>
	<key>DATABASE_URL</key>
	<string>https://nightmarket-1552321619125.firebaseio.com</string>
</dict>
</plist>
